__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env/
.ipynb_checkpoints/
*.pyo
*.pyd
*.pdb
*.dll
*.so
*.dylib
*.log
*.pot
*.pyproj
*.sln
*.sqlite3
*.db
*.ui~
*.qrc~
*.pyc
*.qmlc
*.qmltypes
*_ui.py
*_rc.py
.idea/
*.pro.user*
*.qbs.user*
*.creator.user*
*.autosave
build/
dist/
*.spec
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
*.swp
*~
.nfs*
.coverage
htmlcov/
.pytest_cache/
.tox/
.mypy_cache/
.cache/
API_KEY_SPOONACULAR.txt
